@import "mixin";

//@include make-elements();

/*.setting-table {

    table {
        border-spacing: 0px 16px;
        //background-color: $secondary-color;
        border: 4px solid white;
    }

    .ant-table {
        border-radius: 6px;
    }

    .ant-table-cell-row-hover {
        background-color: $secondary-color !important;
        //border: 2px solid white;
    }

    tr {
        border-radius: 2px;
        border-bottom: 2px solid $secondary-color;
        //background-color: $secondary-color;

        td {
            //padding: 13px 16px;
            border-width: 0;
            margin-bottom: 16px;
            font-weight: 600;
        }
    }
}*/

/* Pulsanti: definizione e stile */




