.p-title {
    font-size: small;
}

.p-value{
    font-size: 1.4 em;
    color: #05077a;
    font-weight: bold;
}

.c-value{
    font-size: 1.4 em;
    //color: #05077a;
    font-weight: bold;
}

.c-value-xl{
    font-size: 1.6 em;
    text-align: center;
    margin: 36px 0;
    font-weight: bold;
}

.container{
    width: 830px;
    max-width: 830px;
    margin: 48px;
}

.cert{
    width: 734px;
    max-width: 734px;
    margin: 32px;
}

.w100{
    width: 100%;
}